<!DOCTYPE html>
<html>
  <head>
    <title>NoteDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# 如果要寫在別的地方要寫好路徑讓他找，建shared資料夾%>
    <%#使用者登入跟沒登入會出現不同資訊%>
    <%# 用render 去抓另外一個公版到這邊呈現，看起來比較不那麼亂%>
    <%= render "shared/navbar" %>
    <%= yield %>




    <%# session helper???%>
    <%# 幫助 view 做 view 不該做的事，可以讓每個view的html頁面使用%>
    <%#current_user會拿到那個使用者的資料%>
    <%# <%= session 9527 %>

    
    
  </body>
</html>
